@tailwind base;
@tailwind components;
@tailwind utilities;

/* HelveticaNow Fonts */
@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-ExtraBold.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNow";
  src: url("../public/fonts/HelveticaNowDisplay-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* NeueHaasDisplay Fonts */
@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../public/fonts/NeueHaasDisplayBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../public/fonts/NeueHaasDisplayBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../public/fonts/NeueHaasDisplayLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../public/fonts/NeueHaasDisplayMediu.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../public/fonts/NeueHaasDisplayRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "NeueHaasDisplay";
  src: url("../public/fonts/NeueHaasDisplayThin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

/* TTChocolates Fonts */
@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesBold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesDemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesLight.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesMedium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTChocolates";
  src: url("../public/fonts/TTChocolatesRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.no-scrollbar {
  /* For Firefox */
  scrollbar-width: none;

  /* For Webkit-based browsers (Chrome, Safari, Edge) */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  overflow: -moz-scrollbars-none; /* Legacy Firefox (optional) */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* For Webkit-based browsers */
}

:root {
  --background: #000000;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
/* @property --bg-angle {
  inherits: false;
  initial-value: 0deg;
  syntax: "<angle>";
}
@keyframes spin {
  to {
    --bg-angle: 360deg;
  }
}

.hoverAnimation {
  animation: spin 2.5s infinite linear paused;
  background: linear-gradient(
        to bottom,
        oklch(0.1 0.2 240 / 0.95),
        oklch(0.1 0.2 240 / 0.95)
      )
      padding-box,
    conic-gradient(
        from var(--bg-angle) in oklch longer hue,
        oklch(0.85 0.37 0) 0 0
      )
      border-box;
  border: 1.5px solid transparent;
  animation-play-state: running;
  &:hover {
    animation-play-state: paused;
  }
}
* {
  box-sizing: border-box;
}
@keyframes rotateBorderL {
  0% {
    border-left-color: #04C5D2;
  }
  100% {
    border-left-color: #04C5D2;
    transform: rotate(360deg);
  }
} */

/* Apply the animation when hovering */
/* button:hover {
  animation: rotateBorderL 1s ease-in infinite;
} */
/* button {
  background: radial-gradient(
      circle,
      oklch(0.15 0.2 330 / 0),
      oklch(0.15 0.2 330 / 1)
    ),
    linear-gradient(
      344deg in oklch,
      oklch(0.3 0.37 310),
      oklch(0.35 0.37 330),
      oklch(0.3 0.37 310)
    );
  display: grid;
  place-items: center;
} */

/* .hoverAnimation {
  color: white;
  overflow: hidden;
} */
